<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<title>Welcome to Craft CMS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>
		<style>
			html,
			body {
				font-size: 16px;
				-webkit-text-size-adjust: 100%;
				height: 100%;
				font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
			}

			body {
				margin: 0;
				padding: 0;
				display: flex;
			}

			nav {
				background: #f9d2a5;
                padding: 20px;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
                justify-content: space-between;
			}

            .logo {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }

			#name {
				color: #000;
				text-decoration: none;
				font-size: 2.5em;
			}

            #season-selection {
                display: flex;
            }

			h2 {
				margin-top: 40px;
				margin-left: 40px;
				margin-bottom: -20px;
				color: #30BCED;
				font-size: 2em;
				text-decoration: underline;
			}

            #aside > h2 {
                padding-top: 20px;
            }

			h3 {
				margin-top: 24px;
				font-size: 1.5em;
				color: #F75590;
				text-decoration: underline dotted;
			}

			summary {
				color: #EF8A17;
			}

			h4 {
				font-size: 1.25em;
				color: #F75590;
			}

			p {
				line-height: 1.4em;
				margin-bottom: 1.4em;
			}

			ul {
				line-height: 1.3em;
				padding-left: 20px;
				margin-bottom: 0;
			}

			ul li {
				margin-bottom: 0.35em;
			}

			a {
				color: #0B69A3;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}

			.leavescheck {
				margin-top: 10px;
			}

			.go {
				color: #0B69A3;
			}

			.go:after {
				padding-left: 4px;
				content: '→';
				text-decoration: none !important;
			}

			small {
				color: hsl(211, 11%, 59%);
			}

			code {
				display: inline-block;
				color: #EF4E4E;
				padding: 0 2px;
				background: hsl(212, 60%, 97%);
				border-radius: 3px;
				line-height: 1.3;
				font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
				font-size: 0.9em;
			}

			#container {
				flex-grow: 1;
			}

			#modal {
				background: #dceecd;
			}

			#aside {
				background: #bfe9d3;
			}

			.content {
				padding: 2rem;
				display: flex;
                justify-content: space-evenly;
				flex-flow: row wrap;
				gap: 20px;
			}

			.flower {
				width: 250px;
			}

            .vase {
                width: 250px;
            }

            @media only screen and (max-width: 320px) {
                .flower {
				    width: 200px;
			    }
                .vase {
                    width: 200px;
                }
            }

		</style>
	</head>
	<body class="ltr">
		<div id="container">
			<div id="modal">
				<div id="main">
					<nav>
						{% set branding = craft.entries()
                            .section('branding')
                            .slug('branding')
                            .one() %}

                        <div class="logo">
						    <img src="{{branding.logo.one().url}}" alt="Logo" width="100" height="120">
						    <h1 id="name">Floresco</h1>
                        </div>

						<div id="season-selection">
							<label><input type="checkbox" value="spring" checked>Spring</input><label>
							<label><input type="checkbox" value="summer" checked>Summer</input><label>
							<label><input type="checkbox" value="fall" checked>Fall</input><label>
							<label><input type="checkbox" value="winter" checked>Winter</input><label>
						</div>
						
					</nav>

					<h2>Flowers</h2>

					<div class="content">

						{% set entryQuery = craft.entries()
                            .section('flowers')
                            .orderBy('title')
                            .leaves(true)
                            .all() %}

						{% for entry in entryQuery %}
							{% if entry.bloomingSeason|length %}
							<div class="flower" data-seasons="{{entry.bloomingSeason|join(';')}}">
							{% else %}

							{% endif %}
								<h3>{{ entry.title }}</h3>

								<img src="{{ entry.picture.one().url }}" alt="Flower picture" width="200" height="250">

								{% if entry.leaves %}
									<p>
										{{ tag('input', {
                                        type: 'checkbox',
                                        name: 'leaves',
                                        class: "leavescheck",
                                        value: '1',
                                        checked: (entry.leaves ?? false) ? true : false,
                                    }) }}

										With leaves</p>
								{% else %}
									<p>Without leaves</p>
								{% endif %}

								<h4>{{ entry.price|money }}</h4>

								{% if entry.information %}
									<details>
										<summary>Information</summary>
										<p>{{ entry.information }}</p>
									</details>
								{% endif %}

								{% if entry.bloomingSeason|length %}
									<details>
										<summary>Blooming Season</summary>
										<ul>
											{% for season in entry.bloomingSeason %}
												<li>{{season.label}}</li>
											{% endfor %}
										</ul>
									</details>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div id="aside">

					<h2>Vases</h2>

					<div class="content">

						{% set entryQuery = craft.entries()
                            .section('vases')
                            .orderBy('title')
                            .leaves(true)
                            .all() %}

						{% for entry in entryQuery %}

							<div class="vase">
								<h3>{{ entry.title }}</h3>

								<img src="{{ entry.picture.one().url }}" alt="Vase picture" width="200" height="250">

								<h4>{{ entry.price|money }}</h4>

								{% if entry.information %}
									<details>
										<summary>Information</summary>
										<p>{{ entry.information }}</p>
									</details>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		let selectedSeasons = ["spring", "fall", "winter", "summer"];
		
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelectorAll("#season-selection input").forEach(e => e.addEventListener("change", onSelectSeason))
		})

		function onSelectSeason(e) {
			if(selectedSeasons.includes(this.value)) {
				let index = selectedSeasons.indexOf(this.value);
        		selectedSeasons.splice(index, 1);
			}
			else {
				selectedSeasons.push(this.value)
			}
			updateDisplayedFlowers();
		}

		function updateDisplayedFlowers() {
			document.querySelectorAll(".flower").forEach((el) => {
				el.style.display = "none";
				let flowerSeasons = el.getAttribute("data-seasons").split(";");
				selectedSeasons.forEach((season) => {
					if(flowerSeasons.includes(season)){ 
						el.style.display = "block";
					}
				});
			})
		}
	</script>
</html>
